/*copiamos la función o propiedad de css de google font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {/*para reinciar los estilos básico*/ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #EDE9E7;
    font-family: 'Montserrat', sans-serif; /*Le ponemos la tipografía a los elementos que queramos*/
}

main {
    max-width: 1000px;/*ancho maximo*/
    margin: 50px auto;/*margen arriba y abajo*/
    overflow:hidden; /*para que lo que este fuera de los 1000px, 
    este oculto*/
}
